<%- include('../partials/header') %>

<section id="info-grid">
    <h4>Airline: </h4>
    <p><%= flightInfo.airport %></p>
    <h4>Airport: </h4>
    <p><%= flightInfo.airline %></p>
    <h4>Flight Number: </h4>
    <p><%= flightInfo.flightNum %></p>
    <h4>Departure Time: </h4>
    <p><%= flightInfo.departs.toLocaleString() %></p>
    <h4>Destinations:</h4>
    <% if (flightInfo.destinations.length) { %>
        <% flightInfo.destinations.forEach(function(d) { %>
            <p class="arrival"><span class="sub-head">Airport:</span><%= d.airport %>
            <span class="sub-head">Arrival:</span><%= d.arrival.toLocaleString() %></p>
        <% }) %>
    <% } else { %>
        <p class="arrival">None submitted yet</p>
    <% } %>

    
</section>

<form method="POST" action="/flights/<%= flightInfo._id %>/destinations" id="create-arrival">
    <label>Airport:</label>
    <select name="airport">
        <option value="SFO" selected>SFO</option>
        <option value="LAX">LAX</option>
        <option value="ATL">ATL</option>
        <option value="DBX">DBX</option>
        <option value="LHR">LHR</option>
        <option value="HND">HND</option>
    </select>
    <label>Arrival Time:</label>
    <input type="datetime-local" name="arrival" required>
    <button type="submit">Add</button>
</form>

<section id="ticket-section">
    <h3>Tickets</h3>
    <a href="/flights/<%= flightInfo._id %>/tickets/new">Add a ticket</a>
    <section id="ticket-list">
        <% if (tickets.length) { %>
            <% tickets.forEach(function(s) { %>
                <p>Seat: <%= s.seat %></p>
                <p>Price: <%= s.price %></p>
            <% }) %>
        <% } else { %>
            <p id="ticket-empty">No tickets purchased yet</p>
        <% } %>
    </section>
</section>
        
<%- include('../partials/footer') %>